block meta

meta(charset='utf-8')
meta(content='IE=edge', http-equiv='X-UA-Compatible')
meta(content='width=device-width, initial-scale=1, shrink-to-fit=no', name='viewport')
meta(name="description" content="cv_template test, example resume, test page")
meta(name="keywords" content="application, spa, html5, css, javascript, bundle your files, , webpack, pixelperfect")

//- link(sizes="192x192" href="./assets/img/favicon/favicon-192x192.png" rel="icon" type="image/png")
//- link(sizes="160x160" href="./assets/img/favicon/favicon-160x160.png" rel="icon" type="image/png")
//- link(sizes="96x96" href="./assets/img/favicon/favicon-96x96.png" rel="icon" type="image/png")
//- link(sizes="32x32" href="./assets/img/favicon/favicon-32x32.png" rel="icon" type="image/png")
//- link(sizes="16x16" href="./assets/img/favicon/favicon-16x16.png" rel="icon" type="image/png")

//- link(rel="shortcut icon" href="./assets/img/favicon/favicon.ico" type="image/x-icon")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous")