@import './_vars.scss';

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;
    outline: none;
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: auto;
    font-weight: normal;
}

html {
    font-size: 1rem;
    text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: $font-family;
    line-height: 1;
    background-color: $bg-body;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

input {
    appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: $text-color;
    font-weight: normal;
}