@import './_vars.scss';

@import './_fonts.scss';

@import './_helper.scss';

@import './_default.scss';

@import './_myReset.scss';


header {

    @import './components/elements/_logo.scss';

    @import './components/elements/_burger-menu.scss';

    @import './components/_nav-menu.scss';
}

header,
footer {
    box-shadow: 0 1px 13px 7px rgba(16, 81, 222, .1);
}

main {
    h1 {
        padding: 3rem 0 0;
    }

    @import './_layout.scss';
}


footer {
    margin-top: 5rem;
    padding: 20px 0;
    @import './components/_nav-menu.scss';

    .nav-socials {
        a {
            +a {
                margin-left: 10px;
            }
        }
    }
}


.h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.875rem;
    line-height: 2.8125rem;
    font-weight: 600;
    color: #00ab65;
    margin-bottom: 3rem;
    padding-top: 110px;
}

.h3 {
    font-size: 4.5rem;
    font-family: $font-regular;
    margin-bottom: 1.25rem;
}

h4 {
    margin-bottom: 2rem;
    text-align: center;
    color: #233261;
    font-size: 1.875rem;
    line-height: 2.8125rem;
    font-weight: 600;
}

@import './_media.scss';