-
    var userInfo = {
        name: 'Дмитрий Шкарлат',
        year: '1986 год рождения',
        location: 'г. Севастополь, Россия'
    }

section#aboutMe.about
    h2.h2 Кандидат
    .container
        .row.align-items-center
            .col-12.col-sm-6
                .about-img
                    img.circle(src='./assets/img/me.jpg', alt='I am')
            .col-12.col-sm-6
                .about-me
                    p
                        span.dot
                        = userInfo.name
                    p
                        span.dot
                        = userInfo.year
                    p
                        span.dot
                        = userInfo.location