.container-fluid
    .row.align-items-center
        .col-10.col-xl-3.col-lg-4
            include ../components/logo
        .col-6.col-lg-12.col-xl-4.d-none.d-lg-none.d-xl-block
            h1.d-flex.justify-content-center Тестовое задание.
        .col.col-xl-5.col-lg-8.d-none.d-sm-none.d-md-none.d-lg-block
            include ../components/nav
        .col-2.d-md-block.d-lg-none
            button.burger-menu
                span
                span
                span