section#hobby.hobby
    h2.h2 Хобби
    .container
        .row
            +figure-hobby('./assets/img/tomato.jpg','Помидоры', 'Нравиться выращивать овощи' )
            +figure-hobby('./assets/img/fishing.jpg','Рыбалка', 'Обожаю отдых на природе' )
            +figure-hobby('./assets/img/Sevastopol.jpg','Памятник затопленным кораблям', 'Люблю свой город-герой "Севастополь"' )
            +figure-hobby('./assets/img/handmade.jpg','презент', 'Временами делаю подарки своими руками' )