section#myEducation.hash.myEducation
    h2.h2 Образование
    h3.h3 Севастопольский Национальный Технический Университет
    p 2003 - 2008
    p Факультет:&nbsp;
        span Автоматики и вычислительной техники
    p Кафедра:&nbsp;
        span Кибернетики и вычислительной техники
    p Специальность:&nbsp;
        span инженер-системотехник