nav.nav-menu.justify-content-xl-center.justify-content-lg-end
    a.nav-menu__link(href="#" tabindex='-1') Главная
    a.nav-menu__link(href="#aboutMe" tabindex='-1') Кандидат
    a.nav-menu__link(href="#myEducation" tabindex='-1') Образование
    a.nav-menu__link(href="#hobby" tabindex='-1') Хобби
    a.nav-menu__link(href="#contacts" tabindex='-1') Контакты