- var nameTitle = 'test_landing_page';

html(lang="ru")
    head
        include ../includes/meta
        title #{nameTitle}
    body
        .page
            header
                include ../components/header
            main
                h1.d-flex.justify-content-center.d-xl-none.d-block Тестовое задание.
                block content
            footer
                include ../components/footer